@font-face {
  font-family: "raleway-light";
  src: url("fonts/Raleway-Light.eot");
  src: url("fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Light.woff2") format("woff2"),
    url("fonts/Raleway-Light.woff") format("woff"),
    url("fonts/Raleway-Light.ttf") format("truetype"),
    url("fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "raleway-medium";
  src: url("fonts/Raleway-Medium.eot");
  src: url("fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Medium.woff2") format("woff2"),
    url("fonts/Raleway-Medium.woff") format("woff"),
    url("fonts/Raleway-Medium.ttf") format("truetype"),
    url("fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "playfair-bold";
  src: url("fonts/PlayfairDisplay-Bold.eot");
  src: url("fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "playfair-regular";
  src: url("fonts/PlayfairDisplay-Regular.eot");
  src: url("fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair-bolditalic";
  src: url("fonts/PlayfairDisplay-BoldItalic.eot");
  src: url("fonts/PlayfairDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-BoldItalic.woff") format("woff"),
    url("fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "playfair-italic";
  src: url("fonts/PlayfairDisplay-Italic.eot");
  src: url("fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: "raleway-meidum";
  color: coral;
}

img {
  max-width: 100%;
  height: auto;
}
/* mobile version */
@media screen and (min-width: 0px) {
  .container {
    width: 100%;
    /* padding-bottom: 0.5rem; */
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo {
    order: 1;
    width: 50%;
    align-self: flex-start;
  }

  .logo img {
    width: auto;
    height: 3rem;
    margin-left: 3vw;
    text-align: left;
  }

  .cart {
    order: 2;
    width: 50%;
    text-align: right;
  }

  .cart img {
    width: auto;
    height: 3rem;
    margin-right: 5vw;

    /* display: inline-block;
margin-left: 18%; */
  }

  .navitems {
    order: 3;
    width: 100%;
    margin-top: 2% 10%;
    border-top: 1px solid #d7d7d7;
  }
  .navitems ul {
    /* width: 100%; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 3vw 10vw;
  }

  .navitems ul li {
    margin-right: 1%;
  }

  .navitems ul li a {
    text-decoration: none;
    font-family: "raleway-medium";
    font-size: 0.9rem;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5)),
      url("./images/banner-girl.png") no-repeat bottom,
      url("./images/flower-bkgd.jpg") repeat-x top;
    height: 400px;
    background-size: cover, 35%, cover;
    text-align: center;
  }

  .banner h1 {
    width: 70%;
    font-family: "playfair-regular";
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px 8px #000000;
  }

  .banner h4 {
    /* position: absolute; */
    /* left: 45%;
top: 38%; */
    /* text-align: center; */
    font-family: "raleway-light";
    font-size: 1.2rem;
    color: white;
    text-shadow: 2px 2px 8px #000000;
  }

  .banner2 {
    text-align: center;
  }

  .banner2 h1 {
    font-family: "playfair-bold";
    font-size: 2.4rem;
    padding: 3rem 0;
    /* padding-bottom: 3.5rem; */
  }

  .banner2 span {
    font-family: "playfair-italic";
    font-weight: 400;
  }

  .banner2 p {
    display: block;
    margin: 0 5vw;
    line-height: 40px;
    font-size: 18px;
    font-family: "raleway-light";
    font-weight: 200;
    /* padding-bottom: 3%; */
    margin-bottom: 5%;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    max-width: 100%;
  }

  .boxes li {
    font-family: "raleway-light";
    font-size: 1.6rem;
    color: white;
    text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
  }

  .box1 {
    /* background-image: url("./images/mens-category.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/mens-category.jpg") 50% center / cover no-repeat;
    /* width: 45%; */
    flex-basis: 100%;
    border: 5px solid white;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box2 {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/trends-category.jpg") 50% center / cover no-repeat;
    /* background-image: url("./images/trends-category.jpg"); */
    /* width: 25%; */
    flex-basis: 50%;
    border: 5px solid white;
    height: 47vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box3 {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/glasses-category.jpg") 50% center / cover no-repeat;
    /* background-image: url("./images/glasses-category.jpg"); */
    /* width: 25%; */
    flex-basis: 50%;
    border: 5px solid white;
    height: 47vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box4 {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/sale-category.jpg") 50% center / cover no-repeat;

    /* background-image: url("./images/sale-category.jpg"); */
    /* width: 25%; */
    flex-basis: 50%;
    border: 5px solid white;
    height: 47vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box5 {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/bags-category.jpg") 50% center / cover no-repeat;
    /* background-image: url("./images/bags-category.jpg"); */
    /* width: 25%; */
    flex-basis: 50%;
    border: 5px solid white;
    height: 47vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box6 {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/womens-category.jpg") 50% center / cover no-repeat;
    /* background-image: url("./images/womens-category.jpg"); */
    /* width: 45%; */
    flex-basis: 100%;
    border: 5px solid white;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .featured h2 {
    margin-top: 5vw;
    text-align: center;
    font-family: "playfair-italic";
    font-size: 2rem;
    font-weight: 400;
  }

  .featured h2 span {
    font-family: "playfair-bold";
    font-size: 2rem;
    font-weight: 700;
  }
  .main-carousel {
    margin-bottom: 15vw;
  }
  .main-carousel .carousel-cell {
    margin: 5vw 0;
    width: 100%;
    list-style: none;
    text-align: center;
  }

  .main-carousel .carousel-cell p {
    font-family: "raleway-light";
    text-transform: uppercase;
    color: grey;
    font-size: 0.7rem;
  }

  .main-carousel .carousel-cell p span {
    color: coral;
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  .formbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    background: /* linear-gradient(rgba(34, 34, 34, 0.25), rgba(0, 0, 0, 0.5)), */ url("./images/wave-bkgd.jpg")
      no-repeat bottom;
    height: 80vw;
  }

  .formbanner h2 {
    font-family: "playfair-italic";
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
    text-shadow: 2px 2px 8px #000000;
  }

  .formbanner span {
    font-family: "playfair-bold";
    text-shadow: 2px 2px 8px #000000;
  }

  .formbanner p {
    margin: 0% 4% 8% 4%;
    line-height: 30px;
    font-size: 1rem;
    font-family: "raleway-light";
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px 8px #000000;
  }

  .formbanner form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
  }

  input[type="e-mail"] {
    width: 60vw;
    height: 48px;
    border-radius: 30px;
    padding-left: 25px;
    font-family: "raleway-regular";
    font-size: 1rem;
    color: red;
  }

  .submit {
    margin-left: -116px;
    border-radius: 27px;
    border: 0.5rem;
    border-color: white;
    width: 113px;
    height: 38px;
    background-color: #e2574c;
    color: white;
    font-family: "raleway-regular";
    font-size: 1rem;
  }

  .submit:hover {
    background-color: #c44a42;
  }

  .footer {
    background-color: #242424;
    color: white;
    margin-top: 1%;
    font-family: "playfair-regular";
    font-weight: 400;
    font-size: 0.8rem;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer a {
    color: white;
    text-decoration-line: underline;
  }

  .footertxt {
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .copyright {
    /* margin: 0 19% 7% 19%; */
  }
  .contact {
    /* margin: 0 0 7% 19%; */
  }
  .address {
    /* margin: 0 30% 7% 19%; */
    color: grey;
  }

  .socialmedia {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .socialmedia li {
    list-style: none;
    font-family: "raleway-light";
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .socialmedia li a {
    color: white;
    text-decoration: none;
    margin: 0 2vw;
  }

  .socialmedia li span {
    display: none;
  }

  .socialmedia li a:hover {
    color: coral;
  }

  .socialmedia li i {
    margin-right: 0.3rem;
  }

  i:hover {
    color: green;
  }
}
/* Tablet version here */
@media screen and (min-width: 600px) {
  .container {
    width: 100%;
    margin: 1% auto;
    /* padding-bottom: 0.5rem; */
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo {
    order: 1;
    width: 20%;
  }

  .logo img {
    width: auto;
    height: 3rem;
    margin-left: 20%;
  }

  .cart {
    order: 3;
    width: 12%;
  }

  .cart img {
    width: auto;
    height: 3rem;
    margin-right: 10%;

    /* display: inline-block;
  margin-left: 18%; */
  }

  .navitems {
    order: 2;
    width: 60%;
    border-top: none;
  }
  .navitems ul {
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .navitems ul li {
    /* margin-right: 1%; */
  }

  .navitems ul li a {
    text-decoration: none;
    font-family: "raleway-medium";
    font-size: 0.9rem;
  }

  .banner {
    background-size: cover, 150px 369px, cover;
    height: 400px;
  }
  .banner h1 {
    font-size: 2.5rem;
  }

  .banner2 p {
    display: block;
    margin: 0 5%;
    line-height: 40px;
    font-size: 18px;
    font-family: "raleway-light";
    font-weight: 200;
    /* padding-bottom: 3%; */
    margin-bottom: 5%;
  }
  .boxes li {
    font-family: "raleway-light";
    font-size: 2.4rem;
    color: white;
  }

  .box1 {
    /* background-image: url("./images/mens-category.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/mens-category.jpg") 50% center / cover no-repeat;
    /* width: 45%; */
    flex-basis: 50%;
    border: 5px solid white;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box2 {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/trends-category.jpg") 50% center / cover no-repeat;
    /* background-image: url("./images/trends-category.jpg"); */
    /* width: 25%; */
    flex-basis: 25%;
    border: 5px solid white;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box3 {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/glasses-category.jpg") 50% center / cover no-repeat;
    /* background-image: url("./images/glasses-category.jpg"); */
    /* width: 25%; */
    flex-basis: 25%;
    border: 5px solid white;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box4 {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/sale-category.jpg") 50% center / cover no-repeat;

    /* background-image: url("./images/sale-category.jpg"); */
    /* width: 25%; */
    flex-basis: 25%;
    border: 5px solid white;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box5 {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/bags-category.jpg") 50% center / cover no-repeat;
    /* background-image: url("./images/bags-category.jpg"); */
    /* width: 25%; */
    flex-basis: 25%;
    border: 5px solid white;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box6 {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.25)) 0%
        0% / cover,
      url("./images/womens-category.jpg") 50% center / cover no-repeat;
    /* background-image: url("./images/womens-category.jpg"); */
    /* width: 45%; */
    flex-basis: 50%;
    border: 5px solid white;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-carousel .carousel-cell {
    width: 50%;
  }

  .formbanner h2 {
    font-family: "playfair-italic";
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
    text-shadow: 2px 2px 8px #000000;
  }

  .formbanner span {
    font-family: "playfair-bold";
    text-shadow: 2px 2px 8px #000000;
  }

  .formbanner p {
    margin: 2% 8% 8% 8%;
    line-height: 30px;
    font-size: 1.1rem;
    font-family: "raleway-light";
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px 8px #000000;
    text-align: center;
  }

  .formbanner form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .footertxt {
    font-size: 1rem;
    margin-left: 5%;
    width: 70%;
    text-align: left;
  }

  .socialmedia {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .socialmedia li span {
    display: inline-block;
  }
}

/* The Desk Top Version Below */
@media screen and (min-width: 1240px) {
  .container {
    width: 100%;
    max-width: 1240px;
    height: 6vw;
    align-items: center;
  }

  .logo {
    width: 20%;
  }
  .logo img {
    width: 70%;
    height: auto;
  }
  .cart img {
    width: 40%;
    height: auto;
  }

  .banner {
    height: 600px;
    background-size: cover, 15%, cover;
  }
  .banner h1 {
    font-size: 4rem;
  }
  .banner2 p {
    margin: 0 30vw;
    margin-bottom: 5%;
  }

  .main-carousel {
    height: 40vw;
  }

  .main-carousel .carousel-cell {
    width: 25%;
  }

  .formbanner {
    height: 25vw;
  }

  .formbanner p {
    margin: 0 25%;
    margin-bottom: 3%;
  }

  input[type="e-mail"] {
    width: 40vw;
  }

  .footer {
    max-width: 100%;
    height: 25vw;
  }
  .socialmedia {
    margin-left: 25vw;
  }
}
